{{#em-pricing-table flavor="materialize" plans=model.plans chosenPlan=model.chosenPlan as |xx|}}
  {{#em-pricing-card table=xx.table plan=xx.plan as |yields|}}
    {{#yields.title}}{{xx.plan.planName}}{{/yields.title}}
    {{#yields.description}}{{xx.plan.description}}{{/yields.description}}
    {{#yields.price}}{{xx.plan.price}} / month{{/yields.price}}
    <li class="bullet-item">
      {{xx.plan.availability}} hours / day
    </li>
    <li class="bullet-item">
      {{xx.plan.storage}} gbs
    </li>
    {{#yields.cta}}Select{{/yields.cta}}
  {{/em-pricing-card}}
{{/em-pricing-table}}